body{
    font-family: 'Poppins', sans-serif;
    color: #434343;
    margin: 0 auto;
}

/* ------HEADER------- */

header{
    display: flex;
    justify-content: space-between;
    margin: 30px 30px 0px 30px;
    align-items: center;

}

.header-list ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
    letter-spacing: 2.4px;
    line-height: normal;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.header-list a {
    position: relative;
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    transition: font-weight 0.3s ease;
}

.header-list a::after {
    content: attr(data-text);
    font-weight: 900;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.header-list a:hover {
    font-weight: 900;
}

.header-list li {
    margin: 0;
}

.header-list a, .contact a, .btn a {
    color: inherit;
    text-decoration: none;
}

.contact{
    display: flex;
    align-items: center;
    gap: 30px;
}

.contact-btn{
    text-transform: uppercase;
    background-color: #434343;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    border-radius: 50px;
    border: 1px solid transparent;
    transition: all 0.5s ease;
}

.contact-btn:hover{
    background-color: #ffffff;
    color: #434343;
    border: 1px solid #434343;
}

.contact .fa-phone{
    padding-right: 15px;
}

.ig {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: #E4405F; /* Instagram pink */
}

/* ------MV------- */

.mv{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    align-self: stretch;
    margin-top: 60px;
}

.mv-headline{
    letter-spacing: 2.4px;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 600;
}

.mv img{
    width: 100%;
    height: auto;
    display: block;
}

.seemore{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    text-transform: uppercase;
    font: 16px;
    letter-spacing: 2.4px;
    font-weight: 500;
}

.seemore img{
    width: 13px;
}

/* ------SEC01------- */

.sec01{
    max-width: 1920px;
    margin: 0 auto;
    width: 1520px;
    font-size: 16px;
    margin-top: 100px;
    /* font-family: 'Poppins', sans-serif; */
}

.sec01-text-content{
    gap: 46px;
    display: grid;
}

.sec01-text{
    display: flex;
    width: 1368px;
    gap: 60px;
}

.text{
    font-family: Yu Gothic;
}

.sec01-headline{
    display: flex;
}

.headline{
    text-transform: uppercase;
    font-size: 64px;
    letter-spacing: 8px;
    font-weight: 800;
    writing-mode: vertical-rl; /* Reads vertically from right to left */
}

.sec01-subheadline{
    font-size: 16px;
    font-family: Yu Gothic;
    font-weight: 500;
    letter-spacing: 12px;
    word-wrap: break-word;
    writing-mode: vertical-rl;
}

.btn{
    text-transform: uppercase;
    background-color: #434343;
    padding: 10px 30px;
    color: #ffffff;
    border-radius: 50px;
    width: fit-content;
    letter-spacing: 15%;
    border: 1px solid transparent;
    transition: all 0.5s ease;
}

.btn:hover{
    background-color: #ffffff;
    color: #434343;
    border: 1px solid #434343;
}

.img-content{
    display: flex;
    gap: 60px;
    padding-top: 60px;
}

.img-text {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(180deg);
    font-size: 36px;
    letter-spacing: 15%;
    color: #C0C0C0;
    font-weight: 700;
}

/* ------SEC02------- */

.sec02, .sec03, .sec04{
    max-width: 1920px;
    margin: 0 auto;
    width: 1520px;
    font-size: 16px;
    margin-top: 200px;
    /* margin: 200px; */
    /* font-family: 'Poppins', sans-serif; */
}

.sec02-headline, .sec03-headline{
    text-transform: uppercase;
    font-size: 64px;
    letter-spacing: 8px;
    font-weight: 800;
}

.sec02-subheadline, .sec03-subheadline{
    font-size: 16px;
    font-family: Yu Gothic;
    font-weight: 550;
}

.btns{
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 60px 0;
}

.btn01, .btn02, .btn03{
    text-transform: uppercase;
    background-color: #434343;
    padding: 10px 30px;
    color: #ffffff;
    border-radius: 50px;
    width: fit-content;
    letter-spacing: 15%;
    border: 1px solid transparent;
    transition: all 0.5s ease;
}

.btn01:hover,
.btn02:hover,
.btn03:hover {
    background-color: #434343;
    color: #ffffff;
}

.btn04 a {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #434343;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.fa-arrow-right-long {
    transition: transform 0.3s ease;
    margin-left: 5px;
}

.btn04:hover .fa-arrow-right-long {
    transform: translateX(8px);
}

.sec02-text{
    margin-top: 60px;
    font-family: Yu Gothic;
    font-size: 16px;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.btn01,
.btn02,
.btn03 {
    background-color: #fff;
    color: #434343;
    border: 1px solid #434343;
    cursor: pointer;
    transition: 0.3s;
}

.btn01.active,
.btn02.active,
.btn03.active {
    background-color: #434343;
    color: #fff;
}

/* ------SEC03------- */

.sec03-headline-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec03-btn:hover{
    background-color: #ffffff;
    color: #434343;
    border: 1px solid #434343;
}

/* ------SEC04------- */

.sec04{
    margin-top: 200px;
    display: grid;
    gap: 30px;
}

.sec04-content{
    display: flex;
    gap: 60px;
    align-items: center;
}

.sec04-text{
    display: grid;
    gap: 30px;
    width: 413px;
}

.sec04-text p{
    margin: 0;
}

/* ------BLOG------- */
.blog{
    max-width: 1920px;
    margin: 0 auto;
    width: 1520px;
    font-size: 16px;
    /* margin-top: 200px;
    margin-bottom: 100px; */
    margin-top: 200px;
    display: flex;
    gap: 60px;
    /* font-family: 'Poppins', sans-serif; */
}

.blog-content{
    display: grid;
    gap: 60px;
}

.cards{
    display: flex;
    gap: 60px;  
}

.card{
    width: 408px;
}

.card p{
    margin: 0px;
}

.blog-title{
    font-weight: 600;
}

.blog-detail {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    overflow: hidden;
    text-overflow: ellipsis;
}

.blog-titledate{
    margin: 30px 0;
}
